Django==4.2.11
python-dotenv==1.0.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
pytest-django==4.12.0
django-storages==1.14.2
boto3==1.34.0
requests==2.31.0
Pillow==10.2.0
xhtml2pdf>=0.2.15
pypdf>=4.0.0
reportlab>=4.0.0
